<div class="container-login">
  <mat-card class="login">
    <mat-card-header class="login-header">
      <mat-card-title>Login</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <mat-form-field>
        <mat-label>Ingresa tu email</mat-label>
        <input
          matInput
          placeholder="uts@example.com"
          [formControl]="user.controls.email"
          required
        />
        <mat-error *ngIf="user.get('email')">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ingresa tu contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControl]="user.controls.password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="authenticateUser()">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>

