

.detail{
    width: 78%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    margin: 3rem auto;

    & .price{
        width: 60%;
        padding: 1rem 3rem;
    }

    & .main{
        justify-content: space-between;
        padding: 1rems;
    }
}

.chip{
    padding: 3rem;
}

.options-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}